[Unit]
Description=Periodically check chezmoi config repo for remote changes

[Timer]
OnStartupSec=2min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
