<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-term-menu" label="Terminals">
  <item label="Alacritty">
    <action name="Execute">
      <command>alacritty</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Xfce Terminal">
    <action name="Execute">
      <command>xfce4-terminal</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-dev-menu" label="Development">
  <item label="VSCodium">
    <action name="Execute">
      <command>codium</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Lens (Kubernetes IDE)">
    <action name="Execute">
      <command>lens-desktop</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Neovim">
    <action name="Execute">
      <command>alacritty -e nvim</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="btop (system monitor)">
    <action name="Execute">
      <command>alacritty -e btop</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="tmux">
    <action name="Execute">
      <command>alacritty -e tmux</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="Zen Browser">
    <action name="Execute">
      <command>zen-browser</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-fileman-menu" label="File Managers">
  <item label="Thunar">
    <action name="Execute">
      <command>Thunar</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Xarchiver">
    <action name="Execute">
      <command>xarchiver</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <item label="Volume Control (pavucontrol)">
    <action name="Execute">
      <command>pavucontrol</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Network Connections">
    <action name="Execute">
      <command>nm-connection-editor</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <separator />
  <item label="Restart tint2 (taskbar)">
    <action name="Execute">
      <command>sh -c "tint2 -k; tint2 &amp;"</command>
    </action>
  </item>
  <item label="Restart Conky (stats)">
    <action name="Execute">
      <command>sh -c "pkill conky; conky -c ~/.config/conky/conky.conf &amp;"</command>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <menu id="apps-term-menu"/>
  <menu id="apps-dev-menu"/>
  <menu id="apps-net-menu"/>
  <menu id="apps-fileman-menu"/>
  <separator label="System" />
  <menu id="system-menu"/>
  <separator />
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
